<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SurfactanSA" connectionString="Data Source=193.168.0.7;Initial Catalog=SurfactanSA;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_II" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_II;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_III" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_III;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_IV" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_IV;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_V" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_V;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_VI" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_VI;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_VII" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_VII;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <!--<add name="PellitalSa" connectionString="Data Source=193.168.0.7;Initial Catalog=PellitalSa;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Pelitall_II" connectionString="Data Source=193.168.0.7;Initial Catalog=Pelitall_II;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Pellital_III" connectionString="Data Source=193.168.0.7;Initial Catalog=Pellital_III;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Pellital_V" connectionString="Data Source=193.168.0.7;Initial Catalog=Pellital_V;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />-->
    <!--<add name="SurfactanSA" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=SurfactanSA;User ID=Desarrollo; Password=Desarrollo; Connection TimeOut=120;" />
    <add name="Surfactan_II" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Surfactan_II;User ID=Desarrollo; Password=Desarrollo; Connection TimeOut=120;" />
    <add name="Surfactan_III" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Surfactan_III;User ID=Desarrollo; Password=Desarrollo; Connection TimeOut=120;" />
    <add name="Surfactan_IV" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Surfactan_IV;User ID=Desarrollo; Password=Desarrollo; Connection TimeOut=120;" />
    <add name="Surfactan_V" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Surfactan_V;User ID=Desarrollo; Password=Desarrollo; Connection TimeOut=120;" />
    <add name="Surfactan_VI" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Surfactan_VI;User ID=Desarrollo; Password=Desarrollo; Connection TimeOut=120;" />
    <add name="Surfactan_VII" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Surfactan_VII;User ID=Desarrollo; Password=Desarrollo; Connection TimeOut=120;" />-->
    <!--<add name="PellitalSa" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=PellitalSa;Trusted_Connection=Yes" />
    <add name="Pelitall_II" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Pelitall_II;Trusted_Connection=Yes" />
    <add name="Pellital_III" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Pellital_III;Trusted_Connection=Yes" />
    <add name="Pellital_V" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Pellital_V;Trusted_Connection=Yes" />-->
  </connectionStrings>
  <appSettings>
    <add key="GENERADOR_COT" value="C:\Users\soporte2\Documents\VM\VB\GenerarCot.exe" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>