<?xml version="1.0"?>
<configuration>
  <connectionStrings>
   <!--<add name="SurfactanSA"
    connectionString="Data Source=DESKTOP-LSM6UUS\FEDE;Initial Catalog=SurfactanSA;Trusted_Connection=Yes;" />
   --> 
  
  <!--<add name="SurfactanSA" connectionString="Data Source=PCHERNAN\SQL;Initial Catalog=SurfactanSA;Trusted_Connection=Yes; Connection TimeOut=120;" />
  
  <add name="Surfactan_V" connectionString="Data Source=PCHERNAN\SQL;Initial Catalog=Surfactan_V;Trusted_Connection=Yes; Connection TimeOut=120;" />

    <add name="Surfactan_VII" connectionString="Data Source=PCHERNAN\SQL;Initial Catalog=Surfactan_VII;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Surfactan_II" connectionString="Data Source=PCHERNAN\SQL;Initial Catalog=Surfactan_II;Trusted_Connection=Yes; Connection TimeOut=120;" />-->

    <!--<add name="SurfactanSA" connectionString="Data Source=193.168.0.7;Initial Catalog=SurfactanSA;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Surfactan_II" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_II;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Surfactan_III" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_III;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Surfactan_IV" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_IV;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Surfactan_V" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_V;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Surfactan_VI" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_VI;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Surfactan_VII" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_VII;Trusted_Connection=Yes; Connection TimeOut=120;" />
    
    <add name="PellitalSa" connectionString="Data Source=193.168.0.7;Initial Catalog=PellitalSa;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Pelitall_II" connectionString="Data Source=193.168.0.7;Initial Catalog=Pelitall_II;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Pellital_III" connectionString="Data Source=193.168.0.7;Initial Catalog=Pellital_III;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Pellital_V" connectionString="Data Source=193.168.0.7;Initial Catalog=Pellital_V;Trusted_Connection=Yes; Connection TimeOut=120;" />-->

    <!--<add name="SurfactanSA" connectionString="Data Source=193.168.0.7;Initial Catalog=SurfactanSA;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_II" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_II;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_III" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_III;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_IV" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_IV;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_V" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_V;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_VI" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_VI;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_VII" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_VII;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />

    <add name="PellitalSa" connectionString="Data Source=193.168.0.7;Initial Catalog=PellitalSa;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Pelitall_II" connectionString="Data Source=193.168.0.7;Initial Catalog=Pelitall_II;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Pellital_III" connectionString="Data Source=193.168.0.7;Initial Catalog=Pellital_III;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Pellital_V" connectionString="Data Source=193.168.0.7;Initial Catalog=Pellital_V;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    
    <add name="CS" connectionString="Data Source=193.168.0.7;Initial Catalog=#EMPRESA#;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />-->

    <!--<add name="SurfactanSA" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SurfactanSA;Trusted_Connection=Yes" />
    <add name="Surfactan_II" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Surfactan_II;Trusted_Connection=Yes" />
    <add name="Surfactan_III" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Surfactan_III;Trusted_Connection=Yes" />
    <add name="Surfactan_IV" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Surfactan_IV;Trusted_Connection=Yes" />
    <add name="Surfactan_V" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Surfactan_V;Trusted_Connection=Yes" />
    <add name="Surfactan_VI" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Surfactan_VI;Trusted_Connection=Yes" />
    <add name="Surfactan_VII" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Surfactan_VII;Trusted_Connection=Yes" />

    <add name="PellitalSa" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=PellitalSa;Trusted_Connection=Yes" />
    <add name="Pelitall_II" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Pelitall_II;Trusted_Connection=Yes" />
    <add name="Pellital_III" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Pellital_III;Trusted_Connection=Yes" />
    <add name="Pellital_V" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Pellital_V;Trusted_Connection=Yes" />

    <add name="CS" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SurfactanSA;Trusted_Connection=Yes" />-->
   
   <add name="SurfactanSA" connectionString="Data Source=.;Initial Catalog=SurfactanSA;User ID=Desarrollo; Password=Desarrollo;" />
    <add name="Surfactan_II" connectionString="Data Source=.;Initial Catalog=Surfactan_II;User ID=Desarrollo; Password=Desarrollo;" />
    <add name="Surfactan_III" connectionString="Data Source=.;Initial Catalog=Surfactan_III;User ID=Desarrollo; Password=Desarrollo;" />
    <add name="Surfactan_IV" connectionString="Data Source=.;Initial Catalog=Surfactan_IV;User ID=Desarrollo; Password=Desarrollo;" />
    <add name="Surfactan_V" connectionString="Data Source=.;Initial Catalog=Surfactan_V;User ID=Desarrollo; Password=Desarrollo;" />
    <add name="Surfactan_VI" connectionString="Data Source=.;Initial Catalog=Surfactan_VI;User ID=Desarrollo; Password=Desarrollo;" />
    <add name="Surfactan_VII" connectionString="Data Source=.;Initial Catalog=Surfactan_VII;User ID=Desarrollo; Password=Desarrollo;" />

    <add name="PellitalSa" connectionString="Data Source=.;Initial Catalog=PellitalSa;User ID=Desarrollo; Password=Desarrollo;" />
    <add name="Pelitall_II" connectionString="Data Source=.;Initial Catalog=Pelitall_II;User ID=Desarrollo; Password=Desarrollo;" />
    <add name="Pellital_III" connectionString="Data Source=.;Initial Catalog=Pellital_III;User ID=Desarrollo; Password=Desarrollo;" />
    <add name="Pellital_V" connectionString="Data Source=.;Initial Catalog=Pellital_V;User ID=Desarrollo; Password=Desarrollo;" />

    <add name="CS" connectionString="Data Source=.;Initial Catalog=SurfactanSA;User ID=Desarrollo; Password=Desarrollo;" />

  </connectionStrings>
  <appSettings>
    <add key="reportsLocation" value="C:\Surfactan\Sistemas\Administracion\CrystalReport\" />
	<add key="PATH_ENCUESTAS_FARMA" value="C:\Impresion Pdf\Encuestas Farma\" />
	<add key="PATH_DOCS_EVAL_PROV_MP" value="C:\Impresion Pdf\Documentos Eval Prov MP\" />
    <!--<add key="PATH_ENCUESTAS_FARMA" value="\\193.168.0.2\w\Impresion Pdf\Encuestas Farma\" />-->
    <!--<add key="PATH_DOCS_EVAL_PROV_MP" value="\\193.168.0.2\w\Impresion Pdf\Documentos Eval Prov MP\" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- PARA AGREGAR NUEVOS PERMISOS, SOLO AGREGAR NOMBRE DE PC (RED) SEPARADOS POR COMAS. -->
    <!-- EN CASO DE AGREGAR UNO NUEVO, DEBE VOLVER A ABRIRSE ADMINISTRACION PARA QUE TOME LOS PERMISOS. -->
    <add key="PERMISOS_PELLITAL" value="soporte, gerencia, soporte2" />
    <add key="TESTING" value="0" />

  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
