<?xml version="1.0"?>
<configuration>
  <connectionStrings>
   <!--<add name="SurfactanSA"
    connectionString="Data Source=DESKTOP-LSM6UUS\FEDE;Initial Catalog=SurfactanSA;Trusted_Connection=Yes;" />
   --> 
  
  <!--<add name="SurfactanSA" connectionString="Data Source=PCHERNAN\SQL;Initial Catalog=SurfactanSA;Trusted_Connection=Yes; Connection TimeOut=120;" />
  
  <add name="Surfactan_V" connectionString="Data Source=PCHERNAN\SQL;Initial Catalog=Surfactan_V;Trusted_Connection=Yes; Connection TimeOut=120;" />

    <add name="Surfactan_VII" connectionString="Data Source=PCHERNAN\SQL;Initial Catalog=Surfactan_VII;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Surfactan_II" connectionString="Data Source=PCHERNAN\SQL;Initial Catalog=Surfactan_II;Trusted_Connection=Yes; Connection TimeOut=120;" />-->

    <!--<add name="SurfactanSA" connectionString="Data Source=193.168.0.7;Initial Catalog=SurfactanSA;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Surfactan_II" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_II;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Surfactan_III" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_III;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Surfactan_IV" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_IV;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Surfactan_V" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_V;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Surfactan_VI" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_VI;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Surfactan_VII" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_VII;Trusted_Connection=Yes; Connection TimeOut=120;" />
    
    <add name="PellitalSa" connectionString="Data Source=193.168.0.7;Initial Catalog=PellitalSa;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Pelitall_II" connectionString="Data Source=193.168.0.7;Initial Catalog=Pelitall_II;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Pellital_III" connectionString="Data Source=193.168.0.7;Initial Catalog=Pellital_III;Trusted_Connection=Yes; Connection TimeOut=120;" />
    <add name="Pellital_V" connectionString="Data Source=193.168.0.7;Initial Catalog=Pellital_V;Trusted_Connection=Yes; Connection TimeOut=120;" />-->

    <add name="SurfactanSA" connectionString="Data Source=193.168.0.7;Initial Catalog=SurfactanSA;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_II" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_II;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_III" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_III;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_IV" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_IV;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_V" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_V;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_VI" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_VI;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Surfactan_VII" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_VII;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />

    <add name="PellitalSa" connectionString="Data Source=193.168.0.7;Initial Catalog=PellitalSa;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Pelitall_II" connectionString="Data Source=193.168.0.7;Initial Catalog=Pelitall_II;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Pellital_III" connectionString="Data Source=193.168.0.7;Initial Catalog=Pellital_III;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />
    <add name="Pellital_V" connectionString="Data Source=193.168.0.7;Initial Catalog=Pellital_V;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120;" />

    <!--<add name="SurfactanSA" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=SurfactanSA;Trusted_Connection=Yes" />
    <add name="Surfactan_II" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Surfactan_II;Trusted_Connection=Yes" />
    <add name="Surfactan_III" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Surfactan_III;Trusted_Connection=Yes" />
    <add name="Surfactan_IV" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Surfactan_IV;Trusted_Connection=Yes" />
    <add name="Surfactan_V" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Surfactan_V;Trusted_Connection=Yes" />
    <add name="Surfactan_VI" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Surfactan_VI;Trusted_Connection=Yes" />
    <add name="Surfactan_VII" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Surfactan_VII;Trusted_Connection=Yes" />

    <add name="PellitalSa" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=PellitalSa;Trusted_Connection=Yes" />
    <add name="Pelitall_II" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Pelitall_II;Trusted_Connection=Yes" />
    <add name="Pellital_III" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Pellital_III;Trusted_Connection=Yes" />
    <add name="Pellital_V" connectionString="Data Source=SOPORTE2\LOCALSQLEXPRESS;Initial Catalog=Pellital_V;Trusted_Connection=Yes" />-->
    
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
