<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="LOCAL" connectionString="Data Source=(LOCAL)\LOCALSQLEXPRESS;Initial Catalog=SurfactanSA;Trusted_Connection=True" />
    <add name="SURFACTAN" connectionString="Data Source=193.168.0.7;Initial Catalog=SurfactanSA;User ID=usuarioadmin; Password=usuarioadmin" />
    <add name="PELLITAL" connectionString="Data Source=193.168.0.7;Initial Catalog=Pellital_III;User ID=usuarioadmin; Password=usuarioadmin" />-->

    <!--<add name="CS" connectionString="Data Source=193.168.0.7;Initial Catalog=#EMPRESA#;User ID=usuarioadmin; Password=usuarioadmin" />-->
    <add name="CS" connectionString="Data Source=.;Initial Catalog=#EMPRESA#;User ID=Desarrollo; Password=Desarrollo" />
    <!--<add name="CS" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=#EMPRESA#;User ID=Desarrollo; Password=Desarrollo" />-->
    
  </connectionStrings>
  <appSettings>
    <add key="reportsLocation" value="C:\Surfactan\Sistemas\Administracion\CrystalReport\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
    <!-- PARA AGREGAR NUEVOS PERMISOS, SOLO AGREGAR NOMBRE DE PC (RED) SEPARADOS POR COMAS. -->
    <!-- EN CASO DE AGREGAR UNO NUEVO, DEBE VOLVER A ABRIRSE ADMINISTRACION PARA QUE TOME LOS PERMISOS. -->
    <add key="PERMISOS_PELLITAL" value="soporte, gerencia, soporte2" />
    
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>