<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear />
    <!--<add name="SurfactanSA" connectionString="Data Source=.;Initial Catalog=SurfactanSA;User ID=Desarrollo; Password=Desarrollo; Connection TimeOut=120" />
    <add name="Surfactan_VII" connectionString="Data Source=.;Initial Catalog=Surfactan_VII;User ID=Desarrollo; Password=Desarrollo; Connection TimeOut=120" />
    <add name="Surfactan_V" connectionString="Data Source=.;Initial Catalog=Surfactan_V;User ID=Desarrollo; Password=Desarrollo; Connection TimeOut=120" />-->
    <add name="PellitalSA" connectionString="Data Source=193.168.0.7;Initial Catalog=Pellital_III;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120" />
    <add name="SurfactanSA" connectionString="Data Source=193.168.0.7;Initial Catalog=SurfactanSA;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120" />
    <add name="Surfactan_III" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_III;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120" />
    <add name="Surfactan_V" connectionString="Data Source=193.168.0.7;Initial Catalog=Surfactan_V;User ID=usuarioadmin; Password=usuarioadmin; Connection TimeOut=120" />
  </connectionStrings>
  <appSettings>
    <add key="Fecha_Desde" value="" />
    <add key="Fecha_Hasta" value="" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>