<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <connectionStrings>
        <!--<add name="Surfactan" connectionString="Data Source=PCHERNAN\SQL;Initial Catalog=Surfactan_Capa;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
        <add name="Surfactan" connectionString="Data Source=193.168.0.7;Initial Catalog=SurfactanSa;User ID=usuarioadmin; Password=usuarioadmin" />
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>